
<nav>
<button type="button" routerLink="databinding" class="btn btn-primary btn-sm">DataBinding</button>
<button type="button" routerLink="directive" class="btn btn-primary btn-sm">Directives</button>
<button type="button" routerLink="angForm" class="btn btn-primary btn-sm">AngularForms</button>
<button type="button" routerLink="emp-details" class="btn btn-primary btn-sm">emp-details</button>
<button type="button" routerLink="breakFast" class="btn btn-primary btn-sm">Breakfast</button>
<button type="button" routerLink="productdash" class="btn btn-primary btn-sm">CRUD</button>
<button type="button" routerLink="angularmat" class="btn btn-primary btn-sm">Angular Material</button>
</nav>