@{
    ViewData["Title"] = "Home";
}

<h1>@ViewData["Title"]</h1>

<p>Welcome to the home page!</p>
<a asp-action="GetReservation">Get Reservation</a>
<a asp-action="AddReservation">Add Reservation</a>
<a asp-action="ReservationsList">View Reservations List</a>
